################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRUDXamarian/.vs/CRUDXamarian
/CRUDXamarian/CRUDXamarian/CRUDXamarian/obj
/CRUDXamarian/CRUDXamarian/CRUDXamarian.Android/obj
